<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <h2><span class="glyphicon glyphicon-hand-left"></span></h2>
      <h6>myaudi</h6>
    </div>
    <div class="col-sm-2">
     <h2> <span class="glyphicon glyphicon-tag"></span></h2>
      <h6>Arrange test drive</h6>
    </div>
    <div class="col-sm-2">
      <h2><span class="glyphicon glyphicon-user"></span></h2>    
      <h6>store locator</h6>
    </div>
    <div class="col-sm-2">
      <h2><span class="glyphicon glyphicon-comment"></span></h2>   
      <h6>Audi Online Cunsulting</h6>
    </div>
    <div class="col-sm-2">
      <h2><span class="glyphicon glyphicon-cloud-upload"></span></h2>      
      <h6>Website Feedback</h6>
    </div>
    <div class="col-sm-2">
      <h2><span class="glyphicon glyphicon-envelope"></span></h2>        
      <h6>Contact</h6>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
      <h6>Newsletter</h6>
    </div>
    <div class="col-sm-1">
      <h6>Apps</h6>
    </div>
    <div class="col-sm-1">       
      <h6>Carrer</h6>
    </div>
    <div class="col-sm-1">
        <h6>Investor Relation</h6>
    </div>
    <div class="col-sm-1">         
      <h6>Suppliers & Partners</h6>
    </div>
    <div class="col-sm-1">           
      <h6>business customers</h6>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
      <h6>authorities</h6>
    </div>
    <div class="col-sm-1">
      <h6>Press</h6>
    </div>
    <div class="col-sm-1">       
      <h6>imprint</h6>
    </div>
    <div class="col-sm-1">
        <h6>Legal</h6>
    </div>

    <div class="col-sm-1">           
      <h6>energy efficiency</h6>
    </div>
    <div class="col-sm-1">           
      <h6>tire labeling</h6>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-sm-12" align="center">
<div class="nav navbar-nav navbar-right" >
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
   <div class="col-sm-2">
       <h3> <a href="#" target="_blank" class="fa fa-facebook" {{action 'facebook'}}></a></h3>
   </div>
   <div class="col-sm-2">
       <h3> <a href="#" target="_blank" class="fa fa-twitter"  {{action 'twitter'}}></a></h3>
   </div>
   <div class="col-sm-2">
        <h3> <a href="#" target="_blank" class="fa fa-linkedin" {{action 'linkedin'}}></a></h3>
   </div>
    <div class="col-sm-2">
        <h3> <a href="#" target="_blank" class="fa fa-google-plus" {{action 'google-plus'}}></a></h3>
   </div>
   <div class="col-sm-2">
       <h3>  <a href="#" target="_blank" class="fa fa-youtube" {{action 'youtube'}}></a></h3>
   </div>
   <div class="col-sm-2">
       <h3>  <a href="#" target="_blank" class="fa fa-pinterest" {{action 'pinterest'}}></a></h3>
   </div>
   </div>
   </div>
   </div>
   </div>